.footer {
    height: fit-content;
    background-color: #698a84;
}

.footer-container {
    height: 85%;
    padding: 2rem 0rem 0rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-logo {
    width: 20rem;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 1rem;
}

.social-icons a {
    font-size: x-large;
    font-weight: 500;
    color: black;
}

.social-icons a:hover {
    color: #f5f5f5;
}

.mail-area a {
    color: black;
}

.quick-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media only screen and (max-width: 568px) {
    .quick-links {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;
    }
}

.quick-links a {
    color: black;
    transition: transform 1s;
}

.quick-links a:hover, .quick-links a:focus {
    transform: scale(1.1, 1.1);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}