1. Home 
2. About 
3. product
4. contact


Home: 
image and welcome text + contact link

changes: <--Button-->



About:
image + para

why choose us: (background diff)

100 plus happy customers, 20 plus products,  20 plus countries ---only

Products:
from the layout

Contacts: 


Footer:


unsplash
istock


change: 

footer colour => button colour
header background => top transparent, keela eranga f5
