.home-container {
    background-image: url(../../assets/Scrap.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: right;
    position: relative;
    top: 0;
    z-index: 0;
}

.home-text {
    font-size: 3.5rem;
    font-weight: 600;
    padding-right: 1.5rem;
}

.home-text-small {
    padding: 0.5rem 3rem 0rem 1.5rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 576px) {
    .home-container {
        background-position: right;
    }
}

.home-main-content {
    align-items: end;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.home-button-container {
    margin-right: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .home-main-content {
        align-items: center;
    }

    .home-button-container {
        margin-right: 0rem;
        margin-top: 1rem;
    }

    .home-text {
        font-size: 2rem;
        text-wrap: nowrap;
    }
}

@media only screen and (min-width: 567px) and (max-width: 1610px) {
    .home-container {
        background-position: right;
    }
}

#home-image-header {
    transition: opacity 0.2s ease-in-out 0.45s, visibility 0.2s ease-in-out 0.45s
    /* , height 0.5s ease-in-out, padding 0.5s ease-in-out; */
}

.home-header-show {
    opacity: 1;
    visibility: visible;
    padding: 0.5rem 1rem;
}

.home-header-hide {  
    opacity: 0;
    visibility: hidden;
    padding: 0rem !important;  
}